<% if !@messages.blank? %>
	<% content_tag :ul, :class => 'user-messages messages', :id => "user-#{get_viewer.id}-messages" do %>
		<%= render :partial => 'message', :collection => @messages %>
	<% end %>
<% else %>
	<p class="spaceMessaging">
		You have no messages in your inbox.
	</p>
<% end %>