<% form_for @message, :html => { :class => "messageForm stdForm" } do |f| %>
	<fieldset>
		<legend>Compose message</legend>
		<table>
			<%= render :partial => 'form', :locals => { :f => f } %>
		</table>
		<%= submit_tag 'Send' %>
	</fieldset>
<% end %>
<%= cancel_button %>