<div class="sub navigation">
	<ul class="navigationList">
		<%= navi_el "Inbox", messages_path %>
		<%= navi_el "Sent", messages_path(:show => 'sent') %>
		<%= navi_el "Compose", new_message_path %>
	</ul>
</div>
