.DS_Store
attachment_fu_plugin.sqlite3.db
config/amazon_s3.yml
config/database.yml
config/mongrel_cluster.yml
config/nginx.conf
config/preferences/*
coverage/*
log/*.log
public/javascripts/all.js
public/stylesheets/all.css
tmp/*
vendor/plugins/attachment_fu/test/*.log