.DS_Store
attachment_fu_plugin.sqlite3.db
coverage/*
log/*.log
public/images/uploads/*
public/javascripts/all.js
public/javascripts/base.js
public/stylesheets/all.css
public/stylesheets/base.css
test/fixtures/*.jpg
tmp/*
vendor/plugins/attachment_fu/test/*.log