<h4>Authoring <%= bloggable.class.to_s.humanize %></h4>
<h3><%= link_to bloggable.display_name, bloggable %></h3>
<%= link_to(picture_for(bloggable), bloggable, :title => bloggable.display_name) if bloggable.primary_picture %>