<h3>Authoring <%= bloggable.class.to_s.humanize %></h3>
<h4><%= link_to bloggable.display_name, bloggable %></h4>
<%= link_to(picture_for(bloggable), bloggable, :title => bloggable.display_name) if bloggable.primary_picture %>