<% unless @blog -%>
<h3>Latest from <%= blog.name %></h3>
<blockquote class="blogDescription"><%= blog.description || "No description set." %></blockquote>
<% end -%>
<%= render :partial => 'articles/article', :object => blog.primary_article if blog.primary_article %>