<% unless @blog -%>
<h3>Latest from <%= blog_lead.name %></h3>
<blockquote class="blogDescription"><%= blog_lead.description || "No description set." %></blockquote>
<% end -%>
<%= render :partial => 'articles/article_lead', :object => blog_lead.primary_article if blog_lead.primary_article %>