<% blog ||= @blog %>
<h3>Browse Articles</h3>
<ul id="browser">
	<li class="browser-col">
		<h4>Months</h4>
		<ul class="browser-col-list" id="browser-col-list-a">
		<% blog.months_posted.each do |month_year| %>
			<% month, year = month_year[0], month_year[1] %>
			<li class="browser-col-listing"><%= link_to_remote "#{Date::ABBR_MONTHNAMES[month]} #{year}", :url => browse_by_month_path_for(blog, :month => "#{year}#{sprintf("%02d", month)}") %></li>
		<% end %>
		</ul>
	</li>
	<li class="browser-col">
		<h4>Articles</h4>
		<ul class="browser-col-list" id="browser-col-list-b">
			<li class="browser-col-listing" style="color: #999;">Select a month on the left</li>
		</ul>
	</li>
	<li class="browser-col">
		<%= render :partial => 'shared/preview_pane', :locals => { :sym => 'articles' } %>
	</li>
</ul>