<h3>Comments</h3>
<%= render :partial => 'comments/comment', :collection => blog.comments %>
<%= render(:partial => 'comment_form', :locals => { :blog => blog, :comment => Comment.new }) if logged_in? %>