<% form_for :blog, @blog, :url => blogs_path_from_bloggable(@bloggable), :html => { :method => :post, :multipart => true, :class => 'blogForm stdForm' } do |f| %>
	<fieldset>
		<legend>Start a new blog</legend>
		<table>
			<%= render :partial => 'form', :layout => 'new_form', :locals => { :f => f } %>
		</table>
		<%= f.submit %>
	</fieldset>
<% end %>
<%= cancel_button %>