<% content_tag_for tag ||= :li, comment_line, prefix ||= nil, :class => ['comment_line', append_class ||= nil].compact.join(' ') do %>
	<span>
	<% unless without_commentable ||= false %>
		<span class="commentable">
			<%= link_to comment_line.commentable.display_name, comment_path_for(comment_line, :anchor => true), :title => comment_line.body %>
		</span>
	<% end %>
		<%= link_to_if without_commentable, truncate(comment_line.body, :length => 35), comment_path_for(comment_line, :anchor => true) %>
		<%= byline_for comment_line unless without_user ||= false %>
	</span>
<% end %>