<h3>Travel Gallery</h3>
<ul id="msm_pictures" class="msm_media">
<% @user.owned_pictures[0..5].each do |pic| %>
	<li class="pic"><%= link_to image_tag(pic.public_filename, :class => 'picPic'), picture_path_for(pic) %></li>
<% end %>
</ul>
<div class="msm_module-footer">
	<%= link_to 'View all Pictures', '#' %>
</div>
