<h3><%= link_to article.title, (article.draft? ? draft_url(article.hash_for_path) : article_url(article.hash_for_path)) %></h3><br />
<%= article.published_date %><br />
<h3><%# link_to article.title, article_path(article.hash_for_path) %></h3>
<p><%=h article.content %></p>