<% tag ||= :li -%>
<% content_tag tag, :class => 'article_line' do %>
	<h4><%= link_to article_line.title, article_path_for(article_line) %></h4>
	<%= format_article(article_line, :without_intro => true, :truncate => 35) %>
<% end %>