<h3>Comments</h3>
<%= render :partial => 'comments/comment', :collection => @article.comments %>
<%= comment_form_for(@article) %>
<%# FIXME: shit, passing local var comment instead of @comment means error messaging might be fukt %>