<h3>Comment on this post</h3>
<% form_for :comment, @comment, :url => '#', :html => { :class => 'commentForm', :method => 'post' } do |f| %>
	<fieldset>
		<%= render :partial => 'comments/form', :locals => { :f => f } %>
	</fieldset>
<% end %>