<h3>Comments</h3>
<%= render :partial => 'comments/comment', :collection => article.comments %>
<%= render(:partial => 'comment_form', :locals => { :article => article, :comment => Comment.new }) if logged_in? %>
<%# FIXME: shit, passing local var comment instead of @comment means error messaging might be fukt %>