<h3>Recently Viewed Articles</h3>
<% if !articles_history.blank? %>
	<% content_tag :ul do -%>
		<%= render :partial => 'articles/article_line', :collection => articles_history, :locals => { :with_blog => true, :with_author => true, :without_excerpt => true, :prefix => prefix ||= nil } %>
	<% end %>
<% else %>
	No previously viewed articles found.
<% end %>