<h3>Responses</h3>
<ul class="article_responses responses">
	<%= render :partial => 'articles/article_line', :collection => responses, :locals => { :append_class => "article_response response" } %>
</ul>
