/* @override http://localhost:3000/stylesheets/main.css?1206057809 */

#wrapper {
	margin: 0;
	padding: 0;
}

#header {
	position: relative;
	height: 87px;
	padding: 13px 0 13px 13px;
}

#logo_link {
	display: block;
	width: 357px;
	height: 87px;
}

#logo {
	width: 357px;
	height: 87px;
}

#header h1 {
	color: #fff;
	text-align: center;
	margin-top: 0;
}

.navigation {
	overflow: hidden;
}

.navigation ul.navigationList {
	position: relative;
}

.navigation li.navigationEl {
	float: left;
	list-style-type: none;
}

.navigation li.navigationEl a {
	display: block;
	padding: 0.5em;
	height: 2em;
	line-height: 2em;
}

#header .navigation {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 2em;
}

#header .navigation li.navigationEl {
	margin-right: 2em;
}

#header .navigation li.navigationEl.last {
	margin-right: 0;
}

#header .navigation li.navigationEl a {
	font-weight: bold;
	color: #000;
}

.navigation li.navigationEl a:hover {
	text-decoration: none;
}

.sub.navigation {
	
}

.sub.navigation li.navigationEl {
	
}

.sub.navigation li.navigationEl.last {
	margin-right: 0;
}

.sub.navigation li.navigationEl.right {
	float: right;
}

.sub.navigation li.navigationEl > a {
	padding: 0.25em 1em;
	font-weight: bold;
}

#canvas {
	
}

.flashBox {
	border: 6px solid;
	background: no-repeat scroll 10px center;
	margin: 0 auto 9px;
	min-height: 30px;
	padding: 12px 12px 12px 48px;
}

#flashWarning {
	border-color: #D6E365;
	background-color: #EFFF72;
}

#flashNotice {
	border-color: #D6E365;
	background-color: #EFFF72;
}

#footer {
	
}

.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

.userForm input {
	display: block;
}

.timestamp {
	font-weight: bold;
	color: #999;
}

strong.articleIntro {
	margin-right: 4px;
}