/* @override 
	http://localhost:3000/stylesheets/main.css?1206057809
	http://localhost:3000/stylesheets/main.css?1206178781
	http://localhost:3000/stylesheets/main.css?1206187976
	http://localhost:3000/stylesheets/main.css?1206320100
*/

#skiplinks li {
	list-style-type: none;
}

#skiplinks li a {
	position: absolute;
	top:  -2000px;
	left:  -2000px;
}

#skiplinks li a:focus, #skiplinks li a:active {
	top:  10em;
	left: 0;
	background-color: #fff;
	border: 2px solid #009;
	display: block;
	width: 7em;
	padding: .65em;
	font-size: 1.1em;
	text-align: center;
	color: #009;
	font-weight: 700;
}

#skiplinks li a:hover {
	background-color: #f3f3f3;
	border: 2px solid #999;
	color: #00e;
	text-decoration: underline;
}

#wrapper {
	margin: 0;
	padding: 0;
}

#header {
	position: relative;
	height: 25px;
	padding: 7px 0 7px 13px;
	background: #888 url(/images/header_gradient.png) repeat-x;
}

#logo_link {
	width: 18px;
	height: 25px;
}

#logo {
	float: left;
	width: 18px;
	height: 25px;
	background: transparent url(/images/logo-symbol-white-small.png) no-repeat left top;
	margin-right: 14px;
}

#header h1 {
	color: #fff;
	text-align: center;
	margin-top: 0;
}

.search #query {
	width: 200px;
	background-color: #999;
	color: #fff;
	border: 1px solid #333;
	padding: 2px 7px;
}

.search #search_button {
	border: 1px solid #333;
	color: #fff;
	background-color: #666;
}

.search #search_button:hover {
	background-color: #000;
	cursor: help;
}

.navigation {
	overflow: hidden;
}

.navigation ul.navigationList {
	position: relative;
}

.navigation li.navigationEl {
	float: left;
	list-style-type: none;
}

.navigation li.navigationEl a {
	display: block;
	padding: 0.5em;
	height: 2em;
	line-height: 2em;
	text-shadow: #a6a6a6 1px 1px 2px;
	opacity: 1;
	color: #fff;
	
}

#header .navigation {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 2em;
}

#header .navigation li.navigationEl {
	margin-right: 2em;
}

#header .navigation li.navigationEl.last {
	margin-right: 0;
}

#header .navigation li.navigationEl a {

}

.navigation li.navigationEl a:hover {
	text-decoration: none;
}

.sub.navigation {
	
}

.sub.navigation ul.navigationList {
	z-index: 1;
}

.sub.navigation li.navigationEl {
	z-index: -1;
}

.sub.navigation li.navigationEl.last {
	margin-right: 0;
}

.sub.navigation li.navigationEl.right {
	float: right;
}

.sub.navigation li.navigationEl > a {
	z-index: -1;
}

.sub.navigation li.navigationEl > a {
	padding: 2px 11px;
	font-weight: bold;
}

.sub.navigation li.navigationEl.first > a {
	padding-left: 26px;
}

.sub.navigation li.breadcrumbEl {
	margin-right: -15px;
	border-right: none;
	position: relative;
}

.sub.navigation li.breadcrumbEl.last {
	
}

.sub.navigation li.breadcrumbEl > a {
	padding: 2px 26px;
}

.sub.navigation li.breadcrumbEl > a:hover,
.sub.navigation li.breadcrumbEl.current > a {
}

#canvas {
	
}

#browser {
	overflow: hidden;
}

#browser .browser-col {
	float: left;
	width: 200px;
}

#canvas.blogs-show #browser .browser-col {
	width: 33%;
}

#browser .browser-col-list,
#browser #preview_pane {
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #C5C5C5;
	border-right-width: 0;
}

#browser .browser-col-listing {
	margin-bottom: 0;
	border-bottom: 1px solid #f4f4f4;
}

#browser #preview_pane {
	border-right-width: 1px;
}

#browser #preview_pane-inner {
	margin: 9px;
}

#browser #preview_pane img.picture {
	display: block;
	max-width: 100px;
	max-height: 100px;
	margin: 0 auto 9px;
}

#browser #preview_pane p {
	font-size: 88%;
	line-height: 1.2em;
}

#browser li.browser-col-listing a {
	display: block;
	color:  #000;
	font-weight: normal;
	padding: 4px;
}

#browser li.browser-col-listing a:hover,
#browser li.browser-col-listing a.over,
#browser li.browser-col-listing a.active {
	color: #fff;
	background-color: #005ED2;
}

#browser li.browser-col-listing a:active {
	background-color: #003C89;
}

p.spaceMessaging {
	display: block;
	padding: 4em;
	border: 12px dashed #eee;
}

.flashBox {
	border: 6px solid;
	background: no-repeat scroll 10px center;
	margin: 0 auto 9px;
	min-height: 30px;
	padding: 12px 12px 12px 48px;
}

#flashWarning {
	border-color: #D6E365;
	background-color: #EFFF72;
}

#flashNotice {
	border-color: #D6E365;
	background-color: #EFFF72;
}

#footer {
	min-height: 80px;
	background: url(/images/logo-symbol-grey.png) no-repeat center center;	
}

#footer .navigation {
	
}

.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

form {
	margin-bottom: 0px;
}

.userForm input {
	display: block;
}

body pre {
	line-height: 0;
	font-size: 88%;
}

.timestamp {
	font-weight: bold;
	color: #999;
}

img.timepiece {
	width: 19px;
	height: 19px;
	background-image: url(/images/timepiece-2.png);
	background-repeat: no-repeat;
	vertical-align: bottom;
	margin-right: 4px;
}

img.timepiece.at00 { background-position: -19px 0; }
img.timepiece.at01 { background-position: -19px -19px; }
img.timepiece.at02 { background-position: -19px -38px; }
img.timepiece.at03 { background-position: -19px -57px; }
img.timepiece.at04 { background-position: -19px -76px; }
img.timepiece.at05 { background-position: -19px -95px; }
img.timepiece.at06 { background-position: 0 -114px; }
img.timepiece.at07 { background-position: 0 -133px; }
img.timepiece.at08 { background-position: 0 -152px; }
img.timepiece.at09 { background-position: 0 -171px; }
img.timepiece.at10 { background-position: 0 -190px; }
img.timepiece.at11 { background-position: 0 -209px; }
img.timepiece.at12 { background-position: 0 0; }
img.timepiece.at13 { background-position: 0 -19px; }
img.timepiece.at14 { background-position: 0 -38px; }
img.timepiece.at15 { background-position: 0 -57px; }
img.timepiece.at16 { background-position: 0 -76px; }
img.timepiece.at17 { background-position: 0 -95px; }
img.timepiece.at18 { background-position: -19px -114px; }
img.timepiece.at19 { background-position: -19px -133px; }
img.timepiece.at20 { background-position: -19px -152px; }
img.timepiece.at21 { background-position: -19px -171px; }
img.timepiece.at22 { background-position: -19px -190px; }
img.timepiece.at23 { background-position: -19px -209px; }


strong.articleIntro {
	margin-right: 4px;
}

.rss_link {
	position:  absolute;
	top:  0;
	right: 0;
}

.rss_link > img {
	width: 27px;
	height: 15px;
	background: transparent url(/images/rss-icon-27x15.png) no-repeat left top;
}

.tags {
	margin-bottom: 18px;
}

.tags .tag {
	display: inline;
	line-height: 2em;
}

.tags .tag a {
	border-right: 1px solid #DDDDAA;
	border-bottom: 1px solid #DDDDAA;
	padding: 2px 3px;
	background-color: #FFFFCC;
	color: #333;
	font-weight: normal;
	text-decoration: none;
}

.tags .tag a:hover {
	color: #333;
}

.messages {
	border-top: 1px solid #ccc;
}

.message {
	clear: left;
	padding: 9px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

.message a.message-subject {
	font-weight: normal;
}

.messages .message a.userLink {
	font-size: 70%;
}

.message-unread {
	background: #eeefff;	
}

.message-unread a.message-subject {
	font-weight: bold;
}

#canvas .message .user-picture {
	width: 30px;
	height: 30px;
}

/* Coulda been .social_networks.facebook with styles refactored if not for IE... */
.social_network {
	display: inline;
}

.social_network img {
	width: 15px;
	height: 15px;
	background: transparent url(/images/social_networks.gif) no-repeat 0 0;
}
.social_network .social_network-facebook {
	background-position: 0 0;
}

.social_network a:hover .social_network-facebook {
	background-position: 0 -15px;
}

.social_network .social_network-myspace {
	background-position: -15px 0;
}

.social_network a:hover .social_network-myspace {
	background-position: -15px -15px;
}

.social_network .social_network-linkedin {
	background-position: -30px 0;
}

.social_network a:hover .social_network-linkedin {
	background-position: -30px -15px;
}

.social_network .social_network-aim {
	background-position: -45px 0;
}

.social_network a:hover .social_network-aim {
	background-position: -45px -15px;
}

.article object {
	display: block;
	margin: 0 auto;
	background-color: #ccc;
	border: 12px solid #ccc;
}

.feed .articleContent img {
	width: 175px;
	max-height: 100px;
	margin: 0 0 9px 18px !important;
	cursor: auto !important;
	border: 1px solid #ccc;
}

.olderArticle, .newerArticle {
	font-size: 88%;
}

.olderArticle {
	float: right;
}

.newerArticle {
	float: left;
}

.google_ads {
	overflow: hidden;
	height: 250px;
}