<h3>Thoughtlet Entries <%= link_to image_tag('feed-icon-14x14.png'), formatted_user_entries_path(@user.to_path(true).merge(:format => :xml)) %></h3>
<ul>
	<%= render :partial => 'entries/entry', :collection => @entries %>
</ul>
