<% form_for :user, @user, :url => update_password_user_path, :html => { :method => :put, :class => 'userForm stdForm' } do |f| %>
	<%= error_messages_for :user %>
	<fieldset>
		<legend>Change Password</legend>
		<table>
			<%= render :partial => 'password_form', :locals => { :f => f } %>
		</table>
		<%= submit_tag 'Change', :disable_with => 'Please wait...' %>
	</fieldset>
<% end %>