<h3>Latest Articles <%= rss_link_for("#{@user}'s Latest Articles", user_latest_articles_path(@user.to_path(true).merge(:format => :rss)) ) %></h3>
<% unless latest_articles.blank? -%>
	<% content_tag :ul, :class => 'articles user-articles', :id => "user-#{@user.id}-articles" do -%>
		<%= render :partial => 'articles/article_line', :collection => latest_articles,
						 :locals => { :with_blog => true, :with_time => !(without_time ||= false), :without_excerpt => true, :prefix => prefix ||= nil } %>
	<% end -%>
<% else -%>
	No articles found.
<% end %>