<h3>Latest News <%= rss_link_for("#{@user}'s Latest Articles", formatted_user_latest_articles_path(user.to_path(true).merge(:format => :rss)) ) %></h3>
<% content_tag(:ul, :id => 'msm_other_main_widgets') do -%>
	<% latest_articles.each do |art| %>
		<li>
			<span>
			<% if art.blog %>
				<span class="articleBlog"><%= art.blog.short_name %></span>
			<% end %>
				<%= link_to art.title, article_path_for(art) %> <nobr><span class="timeago"><%= time_ago_in_words(art.updated_at) %></span></nobr>
			</span>
		</li>
	<% end %>
<% end -%>