<h3>Latest Pictures</h3>
<ul id="user-latest_pictures" class="media_listing">
<% latest_pictures[0..5].map{|pic| pic.thumbnails.find_by_thumbnail('thumb') }.each do |pic| %>
	<li class="pic">
		<%= link_to image_tag(pic.public_filename, :class => dom_class(pic)), picture_path_for(pic) %>
	</li>
<% end %>
</ul>
<div class="msm_widget-footer">
	<%= link_to 'View all pictures', user_pictures_path(user.to_path(true)) %>
	<%# FIXME: the following is for user's depictables..., user_pictures_path() %>
</div>
