<% if registration_closed? -%>
	<p class="spaceMessaging">
		We're sorry. Registration is not open right now.
	</p>
<% else -%>
	<% form_for :user, @user, :url => users_path, :html => { :method => :post, :multipart => true, :class => 'userForm' } do |f| %>
		<%# error_messages_for :user %>
		<fieldset>
			<legend>Register</legend>
		
			<%= render :partial => 'form', :layout => 'new_form', :locals => { :f => f } %>
			<%= submit_tag "Register", :disable_with => "Please wait..." %>
		</fieldset>
	<% end -%>
	<%= cancel_button %>
<% end -%>
