<% if registration_closed? -%>
	<p class="spaceMessaging">
		We're sorry. Registration is not open right now.
	</p>
<% else -%>
	<% form_for :user, @user, :url => users_path, :html => { :method => :post, :multipart => true, :class => 'userForm stdForm' } do |f| %>
		<%# error_messages_for :user %>
		<fieldset>
			<legend>Register</legend>
			<table>
				<%= render :partial => 'form', :layout => 'new_form', :locals => { :f => f } %>
			</table>
		</fieldset>
		<% fields_for :blog, @blog do |blog| -%>
			<fieldset>
				<legend>Start your first blog</legend>
				<table>
					<%= render :nothing => true, :layout => 'blogs/new_form', :locals => { :f => blog, :simple => true } %>
				</table>
			</fieldset>
		<% end -%>
		<%= submit_tag "Register", :disable_with => "Please wait..." %>
	<% end -%>
	<%= cancel_button %>
<% end -%>
