<% user ||= @user -%>
<h3 class="withRss">Thoughtlets <%= rss_link_for("#{user.display_name}'s Thoughtlets", user_thoughtlets_path(user.to_path(true).merge(:format => :rss)) ) %></h3>
<ul>
	<%= render :partial => 'thoughtlets/thoughtlet', :collection => thoughtlets, :locals => { :prefix => prefix ||= nil } %>
</ul>
<div class="msm_widget-footer">
	<%= link_to 'View more thoughtlets', user_thoughtlets_path(user) %>
</div>
