<% user ||= @user %>
<h3>Upcoming Events<%= rss_link_for("#{user}'s Upcoming Events", user_events_path(user.to_path(true).merge(:format => :rss)) ) %></h3>
<ul>
	<%= render :partial => 'events/event_line', :collection => upcoming_events, :locals => { :prefix => prefix ||= nil } %>
</ul>
<%= link_to 'View all events', user_events_path(@user) %>