<div id="header">
	<%= link_to image_tag('shim.gif', :width => 18, :height => 25, :id => 'logo'), root_path, :id => 'logo_link', :title => "#{APP[:name]} Home" %>
	<%= render :partial => 'shared/navigation' %>
</div>
