<div class="regular msm_widget"<% if @wcount %> id="msm_widget-<%= @wcount %>"<% end %>>
	<%= rounded_shim(:top) %>
	<div class="msm_widget-inner">
		<%= yield %>
	</div>
	<%= rounded_shim(:bottom) %>
</div>