<p class="widgetContent" style="height: 250px;">
	<%= image_tag 'widget-vacant.png', :width => 250, :height => 250 %>
</p>
<%= link_to 'edit', '#' if main_object && main_object.editable_by?(get_viewer) %>