<p class="widgetContent" style="height: 250px;">
	<%= image_tag 'widget-vacant.png', :width => 250, :height => 250 %>
</p>
<%# This needs to be set so that layoutable isn't just a user. %>
<%= link_to 'edit', '#' if @layoutable && @layoutable.editable_by?(get_viewer) %>