<% content_tag_for :li, thoughtlet, prefix ||= nil do -%>
	<span>
		<%= thoughtlet.content %><% if (with_break ||= false) %><br /><% else %> <% end %>
		<span class="timestamp"><%= thoughtlet.created_at.to_s(:concise) %></span>
	</span>
<% end -%>
