<%# add_meta_keyword!(@user.name_and_nick) -%>
<%# set_link_author!(@user) -%>

<% content_for :header do -%>
	<div class="msm_row">
		<div class="msm_column msm_column-a">
			<span class="timestamp">Time: <%= Time.now.to_s %></span>
			<h2><%= @page_title %></h2>				
		</div>
		<div class="msm_column msm_column-b">

		</div>
	</div>
<% end -%>	

<div class="last msm_row" id="msm_row-1">
	<%= render :partial => 'edit' %>
</div>
	
<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%# TODO: SHOW attachments framed.wrender :pictures if @article.primary_picture %>
		<%= framed.wrender :google_ads %>
	<% end %>
<% end -%>
