<% set_meta_keywords!(@widgetable.display_name, @widgetable.class.class_name) -%>

<% content_for :header do -%>
	<div class="msm_row">
		<div class="msm_column msm_column-a">
			<span class="timestamp">TIMESTAMP HERE OR SOMETHING</span>
			<h2><%= @page_title %></h2>				
		</div>
		<div class="msm_column msm_column-b">
			
		</div>
	</div>
<% end -%>	

<div class="last msm_row" id="msm_row-1">
	<%= render :partial => 'new' %>
</div>
	
<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :google_ads %>
	<% end %>
<% end -%>
