<%= label :picture, :uploaded_data %>
<%= error_message_on :picture, :uploaded_data %>
<%= file_field :picture, :uploaded_data %>
<p class="note">
	(supported file types: gif/jpeg/png. max size: 2mb, min size: 100 bytes)
</p>
