<% pic_label ||= 'Upload picture' -%>
<tr class="unrequired">
	<th>
		<%= label :picture, :uploaded_data, pic_label %>
	</th>
	<td>
		<%= file_field :picture, :uploaded_data %>
		<p class="info">
			Choose a picture to upload from your computer.
			<span class="note">(supported file types: gif/jpeg/png. max size: 2 Mb, min size: 100 bytes)</span>
		</p>
	</td>
</tr>
