<h3>More pictures of <%= picture.depictable.display_name %></h3>
<ul id="<%= picture.depictable.class.class_name.underscore %>-other_pictures" class="media_listing">
<% other_pictures[0..5].each do |pic| %>
	<li class="pic">
		<%= link_to image_tag(pic.thumb.public_filename, :class => dom_class(pic) + (pic == picture ? ' current' : '')), picture_path_for(pic) %>
	</li>
<% end %>
</ul>
<div class="msm_widget-footer">
	<%= link_to 'View all pictures', pictures_path_from_depictable(picture.depictable) %>
</div>
