<h3><%= blog.name %></h3>
<blockquote><%= blog.description || "No description set." %></blockquote>
<h5>Latest from <%= blog.name %></h5>
<%= render :partial => 'articles/article', :object => blog.primary_article %>