<h3>Comments</h3>
<%# render :partial => 'comments/comment', :collection => @blog.comments.find(:all, :limit => 10) %>
<%= render :partial => 'user/comment_form', :locals => { :comment => @blog.comments.new } if logged_in? %>
