/* @override 
	http://localhost:3000/stylesheets/users/msm.css?1206045027
	http://localhost:3000/stylesheets/skins/msm.css?1206077030
	http://localhost:3000/stylesheets/skins/msm.css?1206180586
	http://localhost:3000/stylesheets/skins/msm.css?1206322095
	http://localhost:3000/stylesheets/skins/msm.css?1206327300
	http://localhost:3000/stylesheets/skins/msm.css?1206403946
*/

#canvas {
	overflow: hidden;
	background-color: #dadada;
}

#header {
	border-bottom: 6px solid #c00;
	/*background-image: url(/images/skins/msm/logo-text.png);*/
}

#debugger {
	width:  965px;
	background-color:  #fff;
	margin: 0 auto 7px;
}

#debugger p {
	padding: 18px;
}

.sub.navigation {
	margin: 0 auto;
	background-color: #fff;
}

.sub.navigation li {
	border-right: 1px solid #DADADA;
}

.sub.navigation li.navigationEl.right {
	border-right: none;
	border-left: 1px solid #DADADA;
}

.sub.navigation li a {
	color: #CA0002;
	text-transform: uppercase;
	font-size: 88%;
	height: 23px;
}

.sub.navigation li a:hover,
.sub.navigation li.current a {
	background-color: #CA0002;
	color: #fff;
}

.sub.navigation li.breadcrumbEl > a {
	background: transparent url(/images/skins/msm/sprites.png) no-repeat right -20px;
}

.sub.navigation li.breadcrumbEl > a:hover,
.sub.navigation li.breadcrumbEl.current > a {
	background-image: url(/images/skins/msm/sprites.png);
	background-position: right -49px;
}

.sub.navigation li.breadcrumbEl > a.bread-home img.shim {
	height: 10px;
	width: 13px;
	margin-right: 6px;
	background: transparent url(/images/skins/msm/sprites.png) no-repeat 0 0;
	vertical-align: baseline;
}

.sub.navigation li.breadcrumbEl.current > a.bread-home img.shim,
.sub.navigation li.breadcrumbEl > a.bread-home:hover img.shim {
	background-position: 0 -10px;
}

.sub.navigation li.breadcrumbEl > a.bread-home {
	padding-left: 9px;
}

.sub.navigation li.navigationEl > a.nav-customize img.shim {
	height: 10px;
	width: 10px;
	margin-right: 6px;
	background: transparent url(/images/skins/msm/sprites.png) no-repeat -13px 0;
	vertical-align: baseline;
}

.sub.navigation li.navigationEl.current > a.nav-customize img.shim,
.sub.navigation li.navigationEl > a.nav-customize:hover img.shim {
	background-position: -13px -10px;
}


.flashBox {
	width: 893px;
	margin-bottom: 0;
}

/* @group General */

	#msm_layout,
	.sub.navigation {
		width: 965px;
	}
	
	.sub.navigation {
		height: 27px;
	}
	
	#msm_layout {
		margin: 12px auto;
	}
	
	.msm_layout h2,
	.msm_layout h3,
	.msm_layout h4,
	.msm_layout h5 {
		margin:  0 0 6px;
	}
	
	.msm_layout h2 {
		font-size: 180%;
	}
	
	.msm_layout h3 {
		position: relative; /* For positioned RSS icon */
		font-size: 120%;
	}
	
	.msm_layout h4 {
		
	}
	
	.msm_layout h4.descriptor {
		font-size: 77%;
		color: #999;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	
	.msm_layout h4.descriptor a {
		font-weight: normal;
	}
	
	.msm_layout p {
		margin: 4px 0 13px;
		line-height: 1.3em;
	}
	
	.msm_layout a {
		color: #004276;
		font-weight: bold;
	}
	
	.msm_layout a:visited {
		color:  #5C7996;
	}
	
	.msm_layout a:hover {
		text-decoration: none;
	}
	
	#msm_layout a:hover img {
		border-color: #CA0002;
	}
	
	.msm_layout a:hover,
	.msm_layout span.timeago {
		color:  #CA0002;
	}
	
	.msm_layout .rss_link {
		position:  absolute;
		top:  0;
		right: 0;
	}
	
	.msm_layout .rss_link > img {
		width: 27px;
		height: 15px;
		background: transparent url(/images/skins/msm/sprites.png) no-repeat -36px 0;
	}
		
	.msm_layout span.timeago {
		font-size: 88%;
	}
	
	.msm_layout ul {
		padding: 0;
		list-style-type: none;
	}
	
	.msm_layout .msm_column li > span {
		display: block;
	}
	
	.msm_layout .msm_row form {
		margin-bottom: 18px;
	}
	
	.msm_layout fieldset {
		border: 1px solid #ccc;
	}
	
	.msm_layout legend {
		font-weight: bold;
		color: #999;
	}
	
	.msm_layout form.commentForm fieldset {
		background-color: #F5FAFE;
	}
	
	.msm_layout form.commentForm textarea {
		height: 100px;
	}
	
	.msm_layout form.articleForm input#article_title {
		font-size: 16pt;
		line-height: 1em;
		padding: 4px;
	}
	
	.msm_layout form.articleForm textarea {
		width: 525px;
		height: 700px;
		padding: 9px;
		line-height: 2em;
	}
	
	/* This can be made to specify an article pic */
	.msm_layout img.smallPic {
		max-height: 100px;
		max-width: 125px;
		width: auto;
	}
	
	.msm_layout .msm_shim {
		height: 4px;
		overflow: hidden;
		background-repeat: no-repeat;
		background-color: #fff;
	}
	
	.msm_layout .msm_shim > div {
		height: 4px;
		width: 4px;
		overflow: hidden;
		background-repeat: no-repeat;
	}
	
	.msm_layout .msm_shim_top {
		background-image: url(/images/skins/msm/corners.png);
		background-position: right 0;
	}
	
	.msm_layout .msm_shim_top > div {
		background-image: url(/images/skins/msm/corners.png);
		background-position: left -4px;
	}
	
	.msm_layout .msm_shim_bottom {
		clear: both;
		background-image: url(/images/skins/msm/corners.png);
		background-position: right -8px;
	}
	
	.msm_layout .msm_shim_bottom > div {
		background-image: url(/images/skins/msm/corners.png);
		background-position: left -12px;
	}

/* @end */

/* @group Layout */

	.msm_row {
		background-color: #fff;
		margin-bottom: 9px;
	}
	
	.msm_row.last {
		margin-bottom: 0;
	}
	
	.msm_row.nobg {
		background-color: transparent;
	}
	
	.msm_row.nopad {
		padding: 0 !important;
	}
	
	.msm_row.innerpad {
		padding: 0 !important;
	}
	
	.msm_row.innerpad > .msm_row-content {
		margin: 18px;
	}
	
	/* AKA .msm_row-content.minimal */
	.msm_layout .msm_row > .minimal {
		margin: 4px 9px;
	}
			
	.msm_layout #msm_header {
		background: #fff;
	/*	border-top: 14px solid blue; */
		margin-bottom: 7px;
	}
	
	#msm_layout #msm_header > .msm_row {
		margin: 14px 18px;
		padding: 0;
	}
	
	#msm_header .msm_column {
		float: left;
	}
	
	#msm_header .msm_column-a {
		width: 598px;
		margin-right: 18px;
	}
	
	#msm_header .msm_column-b {
		width: 313px;
	}
	
	#msm_main_column {
		float: left;
		margin-right: 9px;
		width: 616px;
	}
	
	#msm_side_column {
		float: left;
		width: 340px;
	}
	
	#msm_main_column,
	#msm_side_column {
		min-height: 500px;
		margin-bottom: 9px;
	}
	
	#msm_footer {
		clear: both;
		min-height: 50px;
		background-color: #fff;
	}
	
	#msm_footer-inner {
		margin: 14px 0 14px 18px;
	}
	
	#msm_footer div.footer-box {
		display: block;
		float: left;
		margin: 0 18px 18px 0;
		width: 218px;
		font-size: 88%;
	}
	
	#msm_footer div.footer-box li {
		margin-bottom: 4px;		
	}
	
	#msm_main_column .msm_row {
		padding: 18px;
	}
	
	#msm_side_column > div:last-child {
		margin-bottom: 0;
	}
	
	#canvas.users-show #msm_main_column .msm_row,
	#canvas.articles-index #msm_main_column .msm_row,
	#canvas.blogs-index #msm_main_column .msm_row,
	#canvas.blogs-show #msm_main_column .msm_row,
	#canvas.events-index #msm_main_column .msm_row,
	#canvas.thoughtlets-index #msm_main_column .msm_row,
	#canvas.galleries-index #msm_main_column .msm_row {
		padding: 0;
	}
	
	.msm_main_column {
		padding: 18px;
	}
	
	.msm_main_column.nopad {
		padding: 0;
	}
	
	.msm_main_column-a {
		float: left;
		width: 262px;
	}
	
	.msm_main_column-b {
		float: left;
		width: 277px;
	}
	
	/* @group Specifics */

		.msm_row.nobg .msm_main_column {
			background: #fff;
		}
		
		.msm_row.nobg .msm_main_column-a {
			margin-right: 9px;
		}
		
		#msm_row-1 > .msm_main_column-a {
			width: 303px;
		}
		
		.msm_row.nobg > .msm_main_column-b {
			width: 309px;
		}
		
		#msm_main_header {
			height: 30px;
			background-color: #fff;
			border-bottom: 1px solid #f6f6f6;
		}
		
		#msm_main_header span.timestamp {
			display: block;
			color: #999;
			font-size: 84%;
			padding: 9px 0 0 14px;
		}
		
	/* @end */

/* @end */

/* @group Blog */

	.msm_layout blockquote.blogDescription {
		color:  #999;
		font-size: 88%;
	}
	
	.msm_layout img.blog-picture {
		height: 80px;
	}
	
	.msm_layout #msm_header img.blog-picture {
		float: left;
		margin-right: 18px;
	}

/* @end */

/* @group Article */

	.msm_layout span.articleBlog a {
		font-weight: bold;
		color: #999;
	}
	
	.msm_layout .article p,
	.msm_layout p.articleContent,
	.msm_layout .articleContent li {
		line-height: 1.8em;
	}
	
	.msm_layout .articleContent li {
		list-style-position: outside;
	}
	
	.msm_layout ul.articleContent,
	.msm_layout ol.articleContent {
		padding-left: 20px;
	}
	
	.msm_layout ol.articleContent li {
		list-style-type: decimal;
	}
	
	.msm_layout ul.articleContent li {
		list-style-type: circle;
	}
	
	/* Embedded images within a post */
	.msm_layout p.articleContent img {
		float: right;
		margin: 0 0 18px 18px;
	}
	
	.msm_layout p.articleContent.alt img {
		float: left;
		margin: 0 18px 18px 0;
	}
	
	.msm_layout img.article-picture {
		border: 1px solid #ccc;
	}
	
	/* Why doesn't the <caption /> tag work yet? */
	
	.msm_widget-inner span.caption {
		display: none;
	}
	
	#msm_lead_widget span.caption,
	#canvas.articles-show span.caption {
		display: block;
		position: absolute;
		background-color: #000;
		color: #fff;
		padding: 7px;
		opacity: 0.8;
		font-weight: normal; /* Counteracts bold when link */
		font-size: 88%;
		text-align: center;
	}
	
	#msm_lead_follow_ups {
		margin-top: 18px;
		font-size: 88%;
	}
	
	.msm_layout a.userLink,
	.msm_layout a.groupLink {
		float: left;
		text-align: center;
		font-size: 85%;
		margin: 0pt 7px 0pt 0pt;
	}
	
	.msm_layout .rss_item {
		height: 250px;
		overflow: hidden;
	}
	
	.msm_layout .rss_item #rss_item-spinner {
		display: block;
		margin: 100px auto 0;
		width: 50px;
		height: 50px;
	}

/* @end */

/* @group Widget */
	.msm_main_column > .msm_widget-inner {
		margin-bottom: 36px;
	}

	.msm_widget-inner li {
		margin-bottom: 9px;
	}
	
	.msm_widget-inner ul.articles li,
	.msm_widget-inner ul.responses li {
		background: transparent url(/images/skins/msm/dot.gif) no-repeat 0 5px;
		padding-left: 8px;
	}
	
	#msm_lead_widget {
		background-color: #F6F6F6;
		padding: 18px;
		margin-bottom: 9px;
	}

	/* @group Article Picture Set */
	
		#canvas.articles-show a.article_picture_link,
		#msm_lead_widget a.article_picture_link {
			display: block;
			position: relative;
			overflow: hidden;
		}
		
		#msm_lead_widget a.article_picture_link {
			margin: 0 0 9px 0;
		}
		
		#msm_lead_widget img.msm_lead_picture {
			float: left;
			width: 265px;
		}
		
		#msm_lead_widget span.caption {
			bottom: 1px;
			left: 1px;
			right: 1px;
		}
	
	/* @end */
	
	.msm_main_column .msm_widget {
		
	}
	
	.msm_row.nobg .msm_widget-inner {
		min-height: 250px;
	}
	
	.msm_widget.regular {
		padding: 0;
		margin: 0;
	}
	
	.msm_widget.regular > .msm_widget-inner {
		margin: 14px 18px;
	}
	
	.msm_main_column.msm_with_reg_wid {
		padding: 0;
	}
		
	#msm_row-2 > .msm_main_column-a,
	#msm_row-3 > .msm_main_column-a {
		width: 298px;
	}
	
	#msm_side_column .msm_widget {
		overflow: hidden;
		background-color: #fff;
		margin-bottom: 9px;
		min-height: 200px;
	}
	
	#msm_side_column .msm_widget.framed {
		min-height: 0;
	}
	
	.msm_widget.framed h3 {
		font-size: 160%;
	}
	
	.msm_widget.framed .msm_widget-inner {
		border: 1px solid #ccc;
		margin: 5px 9px;
		padding: 9px;
	}
	
	/* .nopad is not being used yet. I don't want to make
		another partial layout just for them */
	.msm_widget.framed.nopad .msm_widget-inner {
		padding: 0;
	}
	
	.msm_widget.framed.nopad h3,
	.msm_widget.framed.nopad h4 {
		margin: 9px;
	}
	
	.msm_widget ul.media_listing {
		overflow: hidden;
		margin: 0 -9px;
		padding-left: 13px;
		padding-top: 9px;
		background: #F2F2F2;
		border: 0 solid #ddd;
		border-width: 4px 0;
	}
	
	.msm_widget ul.media_listing > li {
		float: left;
		width: 92px;
		margin-right: 9px;
		margin-bottom: 9px;
		text-align: center;
	}
	
	.msm_widget ul.media_listing img.picture {
		float: left;
	}
	
	.msm_layout img.user-picture,
	.msm_widget ul.media_listing img.picture {
		height: 86px;
		width: 86px;
		border: 3px solid #ccc;
	}
	
	.msm_widget-footer {
		padding-top: 9px;
		font-size: 90%;
	}
	
	.msm_widget-inner .widgetContent.vacant {
		background: url(/images/widget-vacant.png) no-repeat center;
	}

/* @end */

/* @group Users-Show */

	#canvas.users-show form.commentForm fieldset,
	#canvas.blogs-index form.commentForm fieldset,
	#canvas.blogs-show form.commentForm fieldset {
		border-width: 1px 0 0;
		margin: 18px -9px -9px;
	}
	#canvas.users-show form.commentForm textarea,
	#canvas.blogs-index form.commentForm textarea,
	#canvas.blogs-show form.commentForm textarea {
		width: 300px;
	}
	
	#canvas.articles-show form.commentForm textarea {
		width: 550px;
	}

/* @end */

/* @group Articles-Show */
	#canvas.articles-show span.imported_at {
		display: block;
		color: #444d6e;
		font-size: 88%;
		font-weight: bold;
	}
	
	#canvas.articles-show span.timestamp {
		display: block;
		color: #CA0002;
		font-size: 88%;
	}
	
	#canvas.articles-show #msm_header iframe,
	#canvas.articles-show #msm_header img.digg {
		float: right;
		margin-left: 9px;
	}
	
	.msm_layout a.article_picture_link {
		float: left;
		position: relative;
		overflow: hidden;
		margin: 0 18px 9px 0;
		max-width: 267px;
	}
	
	.msm_layout a.article_picture_link.right {
		float: right;
		margin: 0pt 0 9px 18px;
	}
	
	#canvas.articles-show img.article-picture {
		float: left;
		max-width: 265px;
		_width: 265px;
		max-height: 400px;
		padding: 0;
		margin: 0;
	}
	
	#canvas.articles-show .article > a.article_picture_link {
		z-index: 51;
	}
	
	#canvas.articles-show span.caption {
		bottom: 1px;
		right: 1px;
		left: 1px;
	}
	
	#canvas.articles-show a.article_picture_link span.zoomer {
		display: none;
		position: absolute;
		top: 1px;
		right: 1px;
		width: 19px;
		height: 19px;
		line-height: 19px;
		background-color: #000;
		opacity: 0.8;
		text-align: center;
	}
	
	#canvas.articles-show a.article_picture_link:hover span.zoomer {
		display: block;
	}
	
	#canvas.articles-show a.article_picture_link span.picture-symbol {
		display: block;
		position: absolute;
		width: 25px;
		height: 21px;
		background: transparent url(/images/camera.png) no-repeat top left;
		top: 5px;
		left: 5px;
	}
	
	#canvas.articles-show .articleContent {
		margin: 0 0 17px;
	}
	
	#canvas.articles-show .article > embed {
		margin-bottom: 17px;
	}
	
	.msm_layout .articleContent li {
		margin-bottom: 8px;
	}
	
	.msm_layout .article-actions {
		margin-top: 18px;
		clear: both;
		text-align: center;
		background-color: #F5FAFE;
		padding: 7px 0;
		border-width: 1px 0;
		border-color: #ccc;
		border-style: solid;
	}
	
	.msm_layout .article-actions li {
		display: inline;
		margin-right: 7px;
		padding-right: 7px;
		border-right: 1px solid #666;
	}
	
	.msm_layout .article-actions li:last-child {
		margin-right: 0;
		padding-right: 0;
		border-right: none;
	}

/* @end */

.msm_layout img.pictureShow {
	display: block;
	margin: 0 auto;
	max-width: 580px;
}
.msm_layout img.pictureShow.large {
	width: 580px;
}

#canvas.pictures-show .msm_layout .msm_row .msm_row-content {
	border: 0 solid #ddd;
	border-width: 8px 0;
	background-color: #F2F2F2;
}

#login-form {
	background-color: #fff;
}

	.msm_layout .article-comments {
		display: block;
		margin-bottom: 18px;
	}
	
	.msm_layout .article-comments .comment {
		/*margin-bottom: 17px;*/
	}
	
	.msm_layout .comment {
		display: block;
		clear: both;
		position: relative;
	}
	
	.msm_layout .comment.deleted {
		opacity: 0.7;
	}
	
	.msm_layout .comment .shim {
		height: 14px;
		background-color: transparent;
		background-repeat: repeat-x;
		background-image: none;
	}
	
	.msm_layout .comment-showing .shim {
		display: block;
		background-image: url(/images/comments.png);
	}
	
	.msm_layout .comment .shim.top,
	.msm_layout .comment .shim-top {
		background-position: 0 0;
		margin-bottom: 0px;
	}
	
	.msm_layout .comment .shim.bottom,
	.msm_layout .comment .shim-bottom {
		clear: both;
		background-position: 0 -14px;
		margin-top: 0px;
	}
	
	.msm_layout .comment-inner {
		position: relative;
	}
	
	.msm_layout .comment img.user-picture {
		height: 40px;
		width: 40px;
		border-width: 1px;
	}
	
	.msm_layout .comment ul.commentActions {
		/* float: right; */
	}
	
	.msm_layout .comment a.commentAction {
		float: right;
		margin-left: 7px;
	}
	
	.msm_layout .comment .commentMain {
		overflow: hidden;
	}
	
	.msm_layout .commentMain .commentContent {
		margin-top: 0;
	}
	
	.msm_layout .commentMain p.references {
		margin-bottom: 4px;
		font-size: 88%;
		color: #666;
	}