<table width="100%" cellpadding="10" cellspacing="0" bgcolor='#CCCCCC' >
<tr>
<td valign="top" align="center">

<table width="600" cellpadding="0" cellspacing="0">

<tr>
<td align="left" valign="middle" style="background-color:#FFFFFF;border-top:0px solid #333333;border-bottom:10px solid #FFFFFF;"><center><a href=""><IMG id=editableImg1 SRC="img/email-head-update.jpg" BORDER="0" title="Cc:Betty"  alt="Cc:Betty" align="center"></a>
</center></td>
</tr>


</table> 

<table width="600" height="300" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">
<tr>

<td bgcolor="#FFFFFF" valign="top" width="400" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;">

<!-- ******  MAIN NOTIFICATION  ****** -->
<p style="font-size:12px;font-weight:normal;color:#666666;font-family:arial;line-height:120%;">
	<% if false %>Ben Dean added a message to <a href="" style="font-weight: bold; color: #1c6497">some really good thread</a><% end %>
	<%= yield %>	
</p>
<hr style="margin-top: 24px"/>

<span style="font-size: 11px;color: #666666">Links not working? Cut and paste the Discussion URL into your browser:<br/>
<a href="#directmessagelink" style="color:#336699">http://www.threadbox.com/d/12345</a></span>
</td>

</tr>


<tr height="100">
<td style="background-color:#EEEEEE;border-top:10px solid #FFFFFF;" valign="top" colspan="2">
<span style="font-size:9px;color:#666666;line-height:100%;font-family:verdana;">
<a href="#home" style="font-size:10px;font-weight:normal;color:#336699">threadbox home</a> | 
<a href="#about" style="font-size:10px;font-weight:normal;color:#336699">about threadbox</a> | 
<a href="#about" style="font-size:10px;font-weight:normal;color:#336699">faq</a> | 
<a href="#mailto:feedback" style="font-size:10px;font-weight:normal;color:#336699">feedback</a>
<br/>
<br/>
You have opted to receive these thread update notifications from threadbox.  You can disable them for this thread in the <a href="#discussionoptions" style="color:#336699">thread options</a>, or disable all threadbox email notifications on your <a href="#usersettings" style="color:#336699">settings</a> page.</span>
</td>
</tr>


</table>







</td>
</tr>
</table>